@import "tailwindcss";

/* Define things like divs and h1 tags */
/* @layer base {
    h1{
        @apply text-6xl;
    }
} */

/* Define classes to use in your frontend */
/* @layer components{
    .sectionHeading{
        @apply text-4xl uppercase;
    }
} */

/* Change predefined values in Tailwind */
/* @theme {
    --text-lg: 40px
} */

/* @layer base{
    h1{
        @apply
            uppercase
            text-[40px]
            text-center;
    }
} */

/* ------------------------------ BUTTONS ------------------------------ */
/* @layer base{
    button{
        @apply
            rounded-lg
            p-4 
            text-white 
            mt-4 
            hover:-translate-y-1.5
            hover:shadow-lg
            focus:translate-y-0.5
            cursor-pointer
            transition-all
            w-20;
    }
}

@layer components{
    .submit-button,
    .post-button{
      @apply
        bg-linear-to-r from-green-400 to-green-700
        justify-self-center flex
        w-40
        items-center
        text-center
        uppercase;
    }

    .edit-button{
      @apply
        bg-linear-to-r from-blue-400 to-blue-700
    }

    .delete-button{
      @apply
        bg-linear-to-r from-red-400 to-red-700
    }
} */

/* ------------------------------ PopUp Container ------------------------------ */
/* @layer components{
  .popup-container{
    @apply
      bg-black/60
      absolute
      top-0
      w-full
      h-full
      z-20
      flex
      justify-center
      items-center
  }
} */


/* ------------------------------ DEFINE SOCIAL MEDIA CONTAINERS ------------------------------ */
/* @layer components {
  .social-icon {
    @apply
      w-22.5
      h-22.5
      bg-[#f1f1f1]
      m-2.5
      rounded-[30%]
      text-[#10ac84]
      shadow-[0_5px_15px_-5px_#00000070]
      relative
      flex
      items-center
      justify-center
      overflow-hidden;
  }

  .social-icon::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background-color: #10ac84;
    left: 110%;
    top: 90%;
    transform: rotate(45deg);
    transition: all 0.7s ease;
    z-index: 0;
  }

  .social-icon:hover::before {
    animation: slide-bg 0.7s forwards;
  }

  .social-icon-img {
    font-size: 25px;
    transition: transform 0.3s, color 0.3s;
    z-index: 1;
  }

  .social-icon:hover .social-icon-img {
    transform: scale(1.3);
    color: #f1f1f1;
  }
}

@keyframes slide-bg {
  0% {
    left: 110%;
    top: 90%;
  }
  50% {
    left: 15%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
} */

 @layer base{
  button{
    @apply 
      uppercase
      text-white
      w-30
      h-15
      rounded-xl
      cursor-pointer

      duration-150
  }

  p{
    @apply
      text-lg
      mb-4
  }
 }

@layer components{
  .form-headers{
    @apply
      uppercase
      font-bold
      text-5xl
      mb-5
  }

  .form-error-div{
    @apply 
      bg-red-600
      mb-4
      rounded
      w-3/5
      p-3
      text-white
  }

  .submit-button{
    @apply 
      bg-green-600
  }

  .delete-button{
    @apply
      bg-red-600
  }

  .link-button{
    @apply
    bg-yellow-500
    w-40
    h-12
    mt-4
    hover:-translate-y-2
  }
}

@layer components{
  .login-container{
    @apply
      bg-white
      w-70
      rounded
      text-center
      h-10
  }
}


/* --------------------------- ADMIN --------------------------- */
@layer components{
  .admin-section{
    @apply
      relative
      w-full 
      p-2 
      pb-22
  }
  
  .admin-form{
    @apply
      bg-white
      h-170 
      lg:h-200
      w-83 
      lg:w-200
      rounded
      flex
      flex-col
      justify-center
      items-center
  }

  .admin-title{
    @apply
      font-bold
      uppercase
      text-red-600
      text-2xl
      mb-4
  }

  .admin-section-title{
    @apply 
      text-4xl
      font-bold
      tracking-wider 
      uppercase
  }

  .instance-button-div{
    @apply 
      flex 
      mt-2
      gap-4
      justify-center
  }

  .instance-button{
    @apply 
      w-40
      hover:-translate-y-1.5
  }

  .edit-button{
    @apply
      bg-blue-600 
  }

  .delete-button{
    @apply
      bg-red-600
  }

  .text-input-container{
    @apply 
      border
      w-80
      lg:w-180
      text-center
      h-10
      rounded-2xl
  }

  .pillar-text-area,
  .team-text-area,
  .product-text-area,
  .member-text-area,
  .news-textarea{
    @apply 
      w-80
      lg:w-180
      border
      text-center
      rounded
      h-40
  }
}

/* --------------------------- Home Section ---------------------------  */
@layer components{
  .home-sections {
    @apply
      relative
      w-full 
      p-2 
      pb-22
  }

  .bg-green-section{
    @apply 
      bg-[#bff1b2]
  }

  .home-section-header{
    @apply 
      text-center
      uppercase
      text-3xl
      font-bold tracking-wide
      mb-2
  }
}

.carousel-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-slide {
  flex: 0 0 80%;
  background-size: contain;
  background-position: center;
  margin: 0 10%;
}


.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 12px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
  border: none;
  cursor: pointer;
}

.dot.active {
  background: #2f7d32;
}


/* --------------------------- CONTACT --------------------------- */
@layer components {
  .email-input-container{
    @apply 
      w-full
      text-white
      text-center
      h-10
      border-b
  }

  .email-input-textarea{
    @apply 
      border-b
      w-full 
      text-white 
      text-center
      h-40
  }
}